<div class="lgd-org-social">
  <ul>
    <li><a href="https://www.youtube.com/channel/UCgOTBrkZvJwCuODRpHxZIIA"><img src="/modules/custom/lgd_org_blocks/assets/YouTube.svg" alt="">{{"YouTube" | t}}</a></li>
    <li><a href="https://www.linkedin.com/company/localgovdrupal"><img src="/modules/custom/lgd_org_blocks/assets/LinkedIn.svg" alt="">{{"Linked In" | t}}</a></li>
    <li><a href="https://twitter.com/localgovdrupal?lang=en"><img src="/modules/custom/lgd_org_blocks/assets/X.svg" alt="">{{"X" | t}}</a></li>
    <li><a href="https://github.com/localgovdrupal"><img src="/modules/custom/lgd_org_blocks/assets/github.svg" alt="">{{"Github" | t}}</a></li>
    <li><a href="https://www.drupal.org/localgov-drupal"><img src="/modules/custom/lgd_org_blocks/assets/drupal.svg" alt="">{{"Drupal" | t}}</a></li>
  </ul>
</div>
