<div class="lgd-org-social">
  <ul>
    <li><a href="https://www.youtube.com/channel/UCgOTBrkZvJwCuODRpHxZIIA">{{"Youtube" | t}}</a></li>
    <li><a href="https://www.linkedin.com/company/localgovdrupal">{{"LinkedIn" | t}}</a></li>
    <li><a href="https://twitter.com/localgovdrupal?lang=en">{{"X" | t}}</a></li>
    <li><a href="https://github.com/localgovdrupal">{{"Github" | t}}</a></li>
    <li><a href="https://www.drupal.org/localgov-drupal">{{"Drupal" | t}}</a></li>
  </ul>
</div>
